body {
  margin: 0;

  p {
    margin: 0;
  }

  #HomeLayout {
    overflow: scroll;
    width: 100%;
    height: 100%;
  }

  #app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;

    #header {
      position: fixed;
      top: 0;
      width: 100%;

      .home-header.type1 {
        float: left;
        background-color: #a3b3c4;
        padding: 15px 0;
        text-align: center;
        cursor: pointer;

        &:hover, &.is-active {
          background-color: #77899a;
          font-weight: 700;
        }
      }
    }
  }
}

